<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspd7</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <servlet-class>controller.PublicIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatNewsController</servlet-name>
    <servlet-class>controller.PublicCatNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatNewsController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailNewsController</servlet-name>
    <servlet-class>controller.PublicDetailNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailNewsController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
</web-app>